<!DOCTYPE html>
<html>
    <head>
        <title>ejs Test</title>
    </head>
    <body>
        <form method="POST" action="/ejsTest">
            <label for="fname">First</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last </label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="submit" value="Submit">
          </form> 
        <h1>ejs Test</h1>
    </body>
</html>
