<!DOCTYPE html>
<html>
  <head>
    <title>Templating Engines - Looping Structures Lab</title>
  </head>
  <body>
    <form method="POST" action="/looping">
      <label for="fname">First name:</label><br />
      <input type="text" id="fname" name="fname" /><br />
      <label for="lname">Last name:</label><br />
      <input type="text" id="lname" name="lname" /><br /><br />
      <label for="numOfTimes">How many times would you like to display?</label><br />
      <input type="number" id="numOfTimes" name="numOfTimes" /><br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
